@import '../../../Community/Styles/body.scss';
@import '../../../Community/Styles/table.scss';

$default: 3.5%;

$question: calc($default * 12);
$answeredAt: calc($default * 5);

.faq-list {
    &-header {
        @include body-header();
        padding: 35px 40px 15px 40px;

        &-title {
            @include body-header-title();
        }

        &-search {
            @include body-header-search();
        }

        &-addBtn {
            @include body-header-btn-detail();
        }
    }

    &-table {
        display: flex;
        flex-direction: column;
        min-width: 0;

        &-head {
            display: flex;
            border-bottom: 2px solid $gray;
            padding: 0px 30px;

            &-question {
                @include table-head($question);

                &-sort {
                    @include sortButton();
                }
            }

            &-answeredAt {
                @include table-head($answeredAt);

                &-sort {
                    @include sortButton();
                }
            }

            &-setting {
                @include table-head(0);
            }
        }

        &-items {
            @include table-items();
        }
    }
}