@import "../../Styles/header.scss";
@import "../../Styles/body.scss";
@import "../../Styles/table.scss";

$default: 3.75%;

$title: calc($default * 7);
$memberName: calc($default * 1.8);
$term: calc($default * 6);
$status: calc($default * 1.8);
$createdAt: calc($default * 4);
$views: calc($default * 1.8);

.event-list {
    &-header {
        @include body-header();
        padding: 35px 40px 15px 40px;

        &-title {
            @include body-header-title();
        }

        &-search {
            @include body-header-search();
        }

        &-addBtn {
            @include body-header-btn-list();
        }
    }

    &-table {
        display: flex;
        flex-direction: column;
        min-width: 0;

        &-head {
            display: flex;
            border-bottom: 2px solid $gray;
            padding: 0px 30px;

            &-title {
                @include table-head($title);

                &-sort {
                    @include sortButton();
                }
            }

            &-memberName {
                @include table-head($memberName);

                &-sort {
                    @include sortButton();
                }
            }

            &-term {
                @include table-head($term);

                &-sort {
                    @include sortButton();
                }
            }

            &-status {
                @include table-head($status);

                &-sort {
                    @include sortButton();
                }
            }

            &-createdAt {
                @include table-head($createdAt);

                &-sort {
                    @include sortButton();
                }
            }

            &-views {
                @include table-head($views);

                &-sort {
                    @include sortButton();
                }
            }

            &-setting {
                @include table-head(0);
            }
        }

        &-items {
            @include table-items();
        }
    }
}