.recomments {
    display: flex;
    flex-direction: column;

    &-recomment {
        margin: 10px 10px 10px 20px;
        display: flex;

        &-profile {}

        &-detail {
            display: flex;
            flex-direction: column;
            gap: 10px;

            &-name {
                font-family: Pretendard;
                font-size: 13px;
                font-style: normal;
                font-weight: 300;
                line-height: 16px;
                letter-spacing: 0em;
                text-align: left;
                color: #999999;
            }

            &-contents {
                font-family: Pretendard;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;

            }
        }
    }
}